.orange-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.buy-now-button {
    color: white;
    background-color: #ff267b;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
}

.container {
    margin-bottom: 50px;
}

.carousel-info {
    padding: 20px 40px;
}

.cat1 {
    color: white;
    background-color: #8e0269;
    padding: 30px;
    border-radius: 20px;
}

.cat2 {
    color: white;
    background-color: #0b4988;
    padding: 30px;
    border-radius: 20px;
}

.cat3 {
    color: white;
    background-color: #62ca14;
    padding: 30px;
    border-radius: 20px;
}