.orange-bg {
    background-color: #fceae8;
    border-radius: 10px;
}

.buy-now-button {
    color: white;
    background-color: #ff267b;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-weight: 700;
}

.carousel-container {
    margin-top: 50px;
}

.carousel-info {
    padding: 20px 40px;
}

.categories {
    margin-top: 70px;
}

.categories-bags {
    color: white;
    background-color: #8e0269;
    padding: 30px;
    border-radius: 20px;
}

.categories-shoes {
    color: white;
    background-color: #0b4988;
    padding: 30px;
    border-radius: 20px;
}

.categories-watches {
    color: white;
    background-color: #62ca14;
    padding: 30px;
    border-radius: 20px;
}